name = "Games"
uuid = "d5cce6e7-4428-536b-a17f-94dfa0e3a07a"
repo = "https://github.com/QuantEcon/Games.jl.git"

[deps]
Clp = "e2554f3b-3117-50c0-817c-e040a3ddf72d"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
LightGraphs = "093fc24a-ae57-5d10-9952-331d41423f4d"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Polyhedra = "67491407-f73d-577b-9b50-8179a7c68029"
QuantEcon = "fcd29c91-0bd7-5a09-975d-7ac3f643a60c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
MathOptInterface = "0.9.6"
QuantEcon = "≥ 0.16.0"
julia = "≥ 1.0.0"

[extras]
CDDLib = "3391f64e-dcde-5f30-b752-e11513730f60"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Unicode = "4ec0a83e-493e-50e2-b9ac-8f72acf5a8f5"

[targets]
test = ["Combinatorics", "CDDLib", "DelimitedFiles", "LinearAlgebra", "Test", "Random", "Unicode"]
