name = "GameTheory"
uuid = "64a4ffa8-f47c-4a47-8dad-aee7aadc3b51"
repo = "https://github.com/QuantEcon/GameTheory.jl.git"
version = "0.1.0"

[deps]
Clp = "e2554f3b-3117-50c0-817c-e040a3ddf72d"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
LRSLib = "262c1cb6-76e2-5873-868b-19ece3183cc5"
LightGraphs = "093fc24a-ae57-5d10-9952-331d41423f4d"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Polyhedra = "67491407-f73d-577b-9b50-8179a7c68029"
QuantEcon = "fcd29c91-0bd7-5a09-975d-7ac3f643a60c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"

[compat]
Clp = "0.8, 0.9"
Combinatorics = "1"
LRSLib = "0.7.2"
LightGraphs = "1"
MathOptInterface = "0.9.6"
Parameters = "0.12"
Polyhedra = "0.6"
QuantEcon = "0.16.0"
julia = "1.3"

[extras]
CDDLib = "3391f64e-dcde-5f30-b752-e11513730f60"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Unicode = "4ec0a83e-493e-50e2-b9ac-8f72acf5a8f5"

[targets]
test = ["Combinatorics", "CDDLib", "DelimitedFiles", "LinearAlgebra", "Test", "Random", "Unicode"]
